main {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

picture {
  width: 100%;
}

picture > img {
  width: 100%;
}

.introduction > p {
  font-size: 16px;
  line-height: 2;
}

.introduction > p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  main.grid {
    display: block;
  }
  .introduction {
    margin-top: 24px;
  }
}